*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/image/bg.jpg);
    z-index: 15;
}

.title-head h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    line-height: 70px;
    position: relative;
}

.title-head h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    bottom: 10px;
    background-color: #C58940;
    transition: height 1s ease;
    z-index: -1;
}

.title-head h1:hover::after {
    height: 40px;
}

.title-head {
    width: fit-content;
    margin: auto;
    color: rgb(255, 255, 255);

}

.info {
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #C58940;
}

.info .content-tittle {
    font-family: "Righteous", cursive;
    font-size: 30px;
    background-image: linear-gradient(to right, #E5BA73, #e1ceb7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info .sitename,
.siteurl {
    color: #ffffff;
}

.info .sitename i,
.siteurl i {
    color: #E5BA73;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.20rem #E5BA73;
}

.btn {
    background-color: #E5BA73;
    color: #764e1d;
    border: none;
}

.btn:hover {
    color: #ffffff;
    background-color: #764e1d;
}

.btn:focus-visible {
    color: black;
    background-color: #E5BA73;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.btn:first-child:active,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: white;
    background-color: #FFBF00;
    border-color: #FFBF00;
}

.table {
    color: #764e1d;
}

.table th {
    background-color: #E5BA73;
    border-bottom: none;
}